<div class="card p-2 mt-3">
  <p>First Name: {{ profesionalPadre?.firstName }}</p>
  <p>Last Name: {{ profesionalPadre?.lastName }}</p>
  <p>Age: {{ profesionalPadre?.age }}</p>
  <p>Weight: {{ profesionalPadre?.weight }}</p>
  <p>Height: {{ profesionalPadre?.height }}</p>
  <p>Is Retired: {{ profesionalPadre?.isRetired }}</p>
  <p>Nationality: {{ profesionalPadre?.nationality }}</p>
  <p>Oscars Number: {{ profesionalPadre?.oscarsNumber }}</p>
  <p>Profession: {{ profesionalPadre?.profession }}</p>
</div>
